section
	section.align-left
		div
			p As vezes eu escrevo...
			a(href="http://willianjusten.com.br") willianjusten.com.br
		
		div.fragment
			hr
			p As vezes eu faço código open source...
			a(href="http://github.com/willianjusten") github.com/willianjusten
		
		div.fragment
			hr
			p E também faço cursos online!
			a(href="http://willianjusten.com.br/cursos") willianjusten.com.br/cursos
