section
	section.align-left
		div.about-info(style="margin-bottom: 50px")
			p Às vezes eu escrevo...
			a(href="http://willianjusten.com.br") willianjusten.com.br
		hr
		div.fragment.about-info(style="margin-top: 45px")
			p Às vezes eu faço código open source...
			a(href="http://github.com/willianjusten") github.com/willianjusten
