section
    h3 Audio Tag
    audio(src="musics/metallica.mp3" controls)
    img(src="img/audio-script.png", alt="")
    ul.align-left
        li controls
        li preload
        li autoplay
        li loop