section
    h2 Criando o audio
    pre.prettyprint
        code.javascript.
            var audio = new Audio();
            audio.src = 'track.mp3';
            audio.loop = true;
            audio.autoplay = true;
            audio.crossOrigin = "anonymous";