section
    h3 Ligar o audio ao contexto
    pre.prettyprint
        code.javascript.
            audioContext = new window.AudioContext();
            source = audioContext.createMediaElementSource(audio);
    p.fragment O contexto de áudio que controla a criação dos nodes e execução do processamento de áudio.