section
    h3 Ligar o audio ao contexto
    pre.prettyprint
        code.javascript.
            audioContext = new window.AudioContext();
            source = audioContext.createMediaElementSource(audio);