section
    h2 Digital Signal Processing (DSP)
    div.align-left.fragment.space-top
        p 
            | É uma 
            span.highlight-item análise 
            | e/ou 
            span.highlight-item modificação de sinais 
            | utilizando teoria fundamental, aplicações e algoritmos, de forma a 
            span.highlight-item extrair informações 
            | dos mesmos e/ou torná-los mais apropriados para alguma 
            span.highlight-item aplicação específica.