section
    h1 Exemplo
    p
        a(href="https://willianjusten.com.br/audio-experiments/bars/") Bars 
        | / 
        a(href="https://willianjusten.com.br/audio-experiments/triangles/") Triangles