section
    h2 Exemplo Incrível
    p
        a(href="https://lhbzr.com/") lhbzr portifólio 
        | por 
        a(href="https://github.com/lhbzr/") Luis Henrique Bizarro
    img(src="img/bizarro.png", alt="Luis Henrique Bizarro Portifólio")