section
    h4.line-height-better
        | We believe in the social value of music – and how this transforms the way people connect and interact with brands. 
    p.minor-font
        a(href="http://massivemusic.com/") massivemusic.com