section
    h2 Web Audio API

    ul.align-left.web-audio-options
        li Criar músicas
        li Colocar efeitos
        li Criar espacialização do audio
        li.highlight-item Criar visualizações em tempo real
        li Etc...