section
    h2 Web Audio API

    ul.align-left.web-audio-options
        li.fragment Criar músicas
        li.fragment Colocar efeitos
        li.fragment Criar espacialização do audio
        li.fragment Criar visualizações em tempo real
        li.fragment Etc...