section
    h3.highlight-item Limitações
    ul
        li Falta de controle preciso do tempo
        li Poucos sons podem tocar ao mesmo tempo
        li Não tem como fazer pre-buffer
        li Não tem como analisar os sons
        li Não tem como aplicar efeitos em real time