section
    h3 Criando a Animação
    pre.prettyprint
        code.javascript.
            function frameLooper() {
                window.requestAnimationFrame(frameLooper);
                analyser.getByteFrequencyData(fbc_array);
                render();
            }