section.case-video(data-background-video="videos/starwars.mp4" data-background-video-loop="true")
    a.link-case.top(href="https://codepen.io/TimPietrusky/full/eHGfj/") codepen.io/TimPietrusky/full/eHGfj