section
    h2 Visualizers
    div.col.col-70.align-left.fragment
        h4 O que são?
        p
            | São imagens geradas em tempo real baseadas num stream de data de um audio. Podendo ser 
            span.highlight-item determinísticos 
            | ou 
            span.highlight-item não-determinísticos.
    div.col.col-30.align-left.fragment
        h4 Como fazer?
        ul.non-style
            li
                a(href="http://threejs.org/") Three.JS
            li
                a(href="http://p5js.org/") P5.JS
            li
                a(href="https://d3js.org/") D3.JS
            li
                a(href="https://github.com/willianjusten/awesome-audio-visualization") Canvas / CSS+JS
