section
    h2 Web Audio API Nodes
    .col.col-33.align-left.move-left-minor
        ul.list-none
            li.main-item Source
            li Media Element
            li Media Stream
            li Oscillator
            li Buffer
    .col.col-33.align-left
        ul.list-none
            li.main-item Utility
            li Script Proc.
            li Analyzer
            li Channel Splitter
            li Channel Merger
    .col.col-20.align-left
        ul.list-none
            li.main-item Effect
            li Gain
            li Biquad Filter
            li Delay
            li Convolver
            li Compressor
            li WaveShaper