doctype html
html
    include inc/head
    body
        .reveal
            .slides
                include ../slides/folder
                include ../slides/about
                include ../slides/jobs
                include ../slides/how-to-use-music
                include ../slides/old-site
                include ../slides/it-is-not
                include ../slides/idea
                include ../slides/visuals
                include ../slides/nice-site
                include ../slides/interative
                include ../slides/trump
                include ../slides/games
                include ../slides/hellorun
                include ../slides/stories
                include ../slides/starwars
                include ../slides/awesome
                include ../slides/learn
                include ../slides/audio-tag-simple
                include ../slides/audio-tag-details
                include ../slides/limitations
                include ../slides/web-audio-api
                include ../slides/web-audio-api-nodes
                include ../slides/web-audio-api-nodes-highlight
                include ../slides/hello-world
                include ../slides/connections-graph-source
                include ../slides/audio
                include ../slides/connections-context
                include ../slides/connections-analyser
                include ../slides/data
                include ../slides/connections-destination
                include ../slides/where-draw
                include ../slides/looper
                include ../slides/example-screen
                include ../slides/example-2
                include ../slides/last-example
                include ../slides/thanks
        include inc/scripts
