doctype html
html
    include inc/head
    body
        .reveal
            .slides
                include ../slides/folder
                include ../slides/about
                include ../slides/jobs
                include ../slides/intro
                include ../slides/intro-highlight
                include ../slides/audio-viz
                include ../slides/visualizers
                include ../slides/visualizers-explanation
                include ../slides/example-1
                include ../slides/dsp-explanation
                include ../slides/tl-dr
                include ../slides/dsp-simplificado
                include ../slides/data
                include ../slides/sample-rate
                include ../slides/quality
                include ../slides/frequency-time
                include ../slides/time
                include ../slides/frequency
                include ../slides/web-audio-api
                include ../slides/web-audio-api-nodes
                include ../slides/web-audio-api-nodes-highlight
                include ../slides/hello-world
                include ../slides/connections-graph-source
                include ../slides/audio
                include ../slides/connections-context
                include ../slides/connections-graph-analyser
                include ../slides/connections-analyser
                include ../slides/connections-graph-destination
                include ../slides/connections-destination
                include ../slides/where-draw
                include ../slides/looper
                include ../slides/example-screen
                include ../slides/example-2
                include ../slides/thanks
                include ../slides/promotion
        include inc/scripts
