head
    meta(charset="UTF-8")
    title JS <3 Music - Front in Sampa 16
    meta(name="description" content="Uma apresentação sobre a utilização de Web Audio API para criar Visualizações baseadas em música.")
    meta(property="og:type" content="website")
    meta(property="og:image" content="img/folder-img.png")
    meta(property="og:description" content="Uma apresentação sobre a utilização de Web Audio API para criar Visualizações baseadas em música.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    script(src="js/vendor/reveal.min.js")